*
{
  text-rendering:optimizeLegibility;
  font-family:'Inconsolata', 'Consolas', monaco, monospace, sans-serif;
  margin:0;
  padding:0;
}

html
{
  height:100%;
}

body {
	height:auto;
}

a {
	color:white;
}

a img {
	border:none;
}

#main_header
{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  line-height:35px;
  background: #424242;
  background: -moz-linear-gradient(top,  #424242 0%, #1b1b1b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#1b1b1b));
  background: -webkit-linear-gradient(top,  #424242 0%,#1b1b1b 100%);
  background: -o-linear-gradient(top,  #424242 0%,#1b1b1b 100%);
  background: -ms-linear-gradient(top,  #424242 0%,#1b1b1b 100%);
  background: linear-gradient(to bottom,  #424242 0%,#1b1b1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#1b1b1b',GradientType=0 );
  box-shadow:0 0 2px #000;
  z-index:5;
}

#main_header ul
{
  list-style:none;
  padding:0 10px;
}

#main_header ul li
{
  display:inline-block;
  margin-left:2.5%;
  opacity:.8;
  float:right;
}

#main_header ul li.left
{
  float:left;
  margin-left:0;
}

#main_header ul li a
{
  text-decoration:none;
}

#main_header ul li a img
{
  vertical-align:middle;
}

#main_header ul li:hover
{
  opacity:1;
}

aside {
	width:275px;
	height:100%;
	padding:0 5px;
	right:0;
	top:0;
	position: absolute;
	background-color:#171717;
	overflow-y: auto;
	opacity:0.65;
	box-shadow: 0 0 1px #000;
	
	display:none;
}

aside p, aside h2 {
	color:white;
	opacity: 0.8;
	font-size:0.69em;
}

aside h2 {
	margin-top:40px;
	font-size:1.1em;
	border-bottom:2px solid #fff;
}

aside p {
	margin-top:15px;
	z-index: 10;
}

#container
{
  width:300px;
  height:100px;
  text-align:center;
  margin:150px auto 0 auto;
}

#container .logo
{
  margin-bottom:25px;
}

#container input
{
  height:25px;
  width:300px;
  text-align:center;
  border:2.5px solid #fff;
  border-radius:4px;
  box-shadow:1px 1px 4px #555;
  margin-bottom:10px;
  font-size:.75em;
  outline:none;
}

#main_footer
{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background:#fff;
  text-align:center;
  box-shadow:0 0 5px #000;
  opacity:.85;
  padding:8px 0;
}

#main_footer p
{
  text-shadow:0 0 2px #000;
}

#main_footer p a
{
  color:#000;
}

#social {
	position:absolute;
	bottom:20px;
	left:20px;
}

.center {
	text-align:center;
}

.bold {
	font-weight:bold;
}

.italic {
	font-style:italic;
}

.underline {
	text-decoration:underline;
}

.inverted {
	background:#fff;
	color:#000;
}

::selection {
	color:#000;
	background:#fff;
}